*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('/fonts/Poppins-Regular.ttf');
  }

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/fonts/Poppins-ExtraBold.ttf');
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    background: hsl(0, 0%, 94%);
}

.yearsText, .monthsText, .daysText{
    display: flex;
}

.wrapperDates{
    position: relative;
    background: #fff;
    width: 50%;
    padding: 2em;
    border-radius: 25px 25px 150px 25px;
    margin: 5%;
}

.inputs{
    display:flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3%;
}

.outcome{
    display: flex;
    flex-direction: column;
    font-size: clamp(1.9rem, 1.08rem + 4.1vw, 6rem);
    font-weight: 800;
    padding: 0.2em 0.2em;
    font-family: 'Poppins-ExtraBold';
    white-space: nowrap;
    overflow: hidden;
}

.yearsCombined, .monthsCombined, .daysCombined{
    display:flex;
}

.leftInput, .middleInput, .rightInput {
    display:flex;
    flex-direction: column;
    width: 20%;
}

.leftInput input, .middleInput input, .rightInput input{
    width: 100%;
    max-width: 8rem;
    height: 100%;
    height: 3rem;
    padding: 1rem;
    font-size: clamp(0.7rem, 0.64rem + 0.3vw, 1rem);
    margin-top: 0.2rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.leftInput input:hover, .middleInput input:hover, .rightInput input:hover{
    border: 1px  solid hsl(259, 100%, 65%);
}

.leftInput input:focus, .middleInput input:focus, .rightInput input:focus{
    border: 2px solid hsl(259, 100%, 65%);
}

.inputs label{
    text-transform: uppercase;
    color: gray;
    font-size: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);
    letter-spacing: 2px;
    font-family: 'Poppins-regular';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

svg{
    border-radius: 50px;
    padding: 1.2em;
    border: block;
}

.wrapperArrow{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.wrapperArrow::before{
    content: " ";
    height: 1px;
    flex: 1;
    background: hsl(0, 0%, 86%);

}

.arrowButton{
    background: hsl(259, 100%, 65%);
    position: relative;
    border: none;
    border-radius: 50px;
    width: 80px;
    height: 80px;

}

.arrowButton:hover{
    background: hsl(259, 100%, 75%);
    cursor: pointer;
}

.mode{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

#daysOnlyText, #monthsOnlyText, #yearsOnlyText{
    margin-right: 5px;
    font-size: 1rem;
    font-family: 'Poppins-Regular';
}

.outcome span{
    color: hsl(259, 100%, 65%);
}

#day_error, #month_error, #year_error{
    color: red;
    position: relative;
    top: 0px;
}

.error{
    color: red;
    font-size: 1rem;
}



@media only screen and (max-width: 1180px){
    .wrapperArrow{
        flex-direction: column;
    }
  
}


@media only screen and (max-width: 1000px){


    .leftInput input, .middleInput input, .rightInput input{
        padding: 0.5em;
    }
}

@media only screen and (max-width: 600px){
    .wrapperDates{
        margin: 0;
        padding: 1em;
        width: 65%;
        border-radius: 25px 25px 500px 25px;
    }

    .arrowButton{
        width: 50px;
        height: 50px;
    }
    svg{
        width: 50px;
        height: 50px;
    }
   

   
 
}

@media only screen and (max-width: 800px){
    .inputs{
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .outcome{
        align-items: flex-start;
    }

    .wrapperDates{
        border-radius: 25px 25px 50px 25px;
    }
}